* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.seat-selected {
    background: #1dd100;
    color: blue;
}